<div class="prose prose-sm sm:prose lg:prose-lg xl:prose-xl mx-auto my-8 px-4">
    <h1 class="mb-6">Licenčná zmluva O’Saasy</h1>

    <div class="mb-6">Autorské práva © <%= Date.current.year %>, <%= link_to "Stanislav Valášek", "https://www.stanislavvalasek.com/en", class: "link" %>.</div>

    <div class="mb-6">Týmto sa bezplatne udeľuje povolenie každej osobe, ktorá získa kópiu tohto softvéru a súvisiacich dokumentačných súborov („Softvér“), nakladať so Softvérom bez obmedzení, vrátane – bez obmedzenia – práv používať, kopírovať, upravovať, spájať, zverejňovať, distribuovať, poskytovať sublicencie a/alebo predávať kópie Softvéru, a umožniť osobám, ktorým je Softvér poskytnutý, aby tak robili, za predpokladu splnenia nasledujúcich podmienok:</div>

    <div class="mb-6">1. Vyššie uvedené oznámenie o autorských právach a toto povolenie musia byť zahrnuté vo všetkých kópiách alebo podstatných častiach Softvéru.</div>
    
    <div class="mb-6">2. Žiadny držiteľ licencie ani následný príjemca nesmie Softvér (vrátane akýchkoľvek upravených alebo odvodených verzií) používať na priamu konkurenciu pôvodnému poskytovateľovi licencie tým, že ho bude ponúkať tretím stranám ako hostovaný, spravovaný alebo „Software-as-a-Service“ (SaaS) produkt alebo cloudovú službu, kde hlavnú hodnotu služby tvorí samotná funkcionalita Softvéru.</div>
    
    <div class="mt-6">SOFTVÉR SA POSKYTUJE „TAK, AKO JE“, BEZ AKEJKOĽVEK ZÁRUKY, VÝSLOVNEJ ALEBO IMPLICITNEJ, VRÁTANE, ALE NIE VÝHRADNE, ZÁRUK PREDAJNOSTI, VHODNOSTI NA KONKRÉTNY ÚČEL A NEPORUŠOVANIA PRÁV. AUTORI ANI DRŽITELIA AUTORSKÝCH PRÁV NIE SÚ V ŽIADNOM PRÍPADE ZODPOVEDNÍ ZA AKÉKOĽVEK NÁROKY, ŠKODY ALEBO INÚ ZODPOVEDNOSŤ, ČI UŽ V RÁMCI ZMLUVY, DELIKTU ALEBO INAK, VYPLÝVAJÚCU Z, ZALEŽIACU NA ALEBO SÚVISIACU SO SOFTVÉROM ALEBO JEHO POUŽITÍM ČI INÝMI PRÁVNYMI ÚKONMI SO SOFTVÉROM.</div>
</div>
