<nav class="navbar bg-base-200 shadow-sm">
  <%# Mobile: hamburger dropdown %>
  <div class="navbar-center lg:hidden">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </div>
      <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-10 mt-3 w-40 p-2 shadow">
        <li><%= link_to "Domov", root_path %></li>
        <li><%= link_to "Administrácia", "/admin" %></li>
      </ul>
    </div>
  </div>

  <%# Desktop: centered menu with Home left, Admin right %>
  <div class="navbar-center hidden lg:flex gap-4">
    <%= link_to "Domov", root_path, class: "btn btn-ghost" %>
    <%= link_to "Administrácia", "/admin", class: "btn btn-ghost" %>
  </div>
</nav>
