<div class="min-h-screen bg-base-100">

  <!-- HERO -->
  <section class="bg-base-200">
    <div class="max-w-4xl mx-auto px-6 py-20 text-center space-y-8">

      <!-- Name -->
      <h1 class="text-4xl md:text-5xl font-bold">
        Členovia <%= @assembly.name %>
      </h1>

      <!-- Search -->
      <div class="max-w-xl mx-auto">
        <label class="w-full shadow-sm input input-primary input-xl">
          <svg class="h-[1em] opacity-50" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <g
              stroke-linejoin="round"
              stroke-linecap="round"
              stroke-width="2.5"
              fill="none"
              stroke="currentColor"
            >
              <circle cx="11" cy="11" r="8"></circle>
              <path d="m21 21-4.3-4.3"></path>
            </g>
          </svg>
          <input type="search" required placeholder="Vyhľadať členov, podujatia, archív…" autocomplete="off">
        </label>
      </div>

      <div class="badge badge-primary badge-outline badge-lg">
        <%= @assembly.members.count %> členov
      </div>

    </div>
  </section>

  <section class="space-y-6 p-4">
    <div class="overflow-x-auto rounded-box">
      <table class="table table-zebra">
        <thead>
          <tr>
            <th>Meno</th>
            <th>Aktívny v rokoch</th>
          </tr>
        </thead>
        <tbody>
          <% @members.each do |member| %>
            <tr class="hover:bg-base-300">
              <td class="font-medium">
                <b><%= member.name %></b>
              </td>
              <td>
                <%= member.member_of_assemblies.pluck(:year).sort.join(", ") %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  </section>


</div>
